Source: ros-hydro-grizzly-viz
Section: misc
Priority: extra
Maintainer: Yan Ma <yanma@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-roslaunch
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-grizzly-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-grizzly-description, ros-hydro-interactive-marker-twist-server, ros-hydro-joint-state-publisher, ros-hydro-rviz
Description: Visualization and rviz helpers for Grizzly
